@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-navy-900: #002a5c;
  --color-navy-800: #003370;
}

body {
  @apply font-sans antialiased;
}